
    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link href="img/favicon.ico" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900" rel="stylesheet"> 

    <!-- Bootstrap CSS File -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'vendor/font-awesome/css/fo   nt-awesome.min.css'%}" rel="stylesheet">
    <link href="{%static 'vendor/animate/animate.min.css'%}" rel="stylesheet">
    <link href="{%static 'vendor/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
    <link href="{%static 'vendor/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">

    <title>Main Project</title>
</head>
<body>
    <!-- #header end -->
    {% include 'navbar.html' %}
    {% block contents %}
    {% endblock contents %}
    {% include 'footer.html' %}

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/easing/easing.min.js' %}"></script>
    <script src="{% static 'vendor/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'vendor/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/touchSwipe/jquery.touchSwipe.min.js' %}"></script>

    <!-- Main Javascript File -->
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>