{% load static %}
        <!-- Venue Section Start -->
        <section id="venue">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-col">
                            <img class="img-fluid" src="{% static 'img/venue.jpg' %}">
                        </div>
                    </div>
                    <div class="col-md-6 des-cols">
                        <div class="des-col">
                            <h2>Our Venue</h2>
                            <h4>4532 Harrison Street, San Francisco, California</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium urna lacinia purus gravida aliquam. Curabitur bibendum diam lorem. Nunc dapibus, ante at finibus placerat, ipsum eros molestie neque, sed commodo dui tellus at est. Sed pulvinar felis lorem, vitae fermentum sapien convallis at. Sed accumsan laoreet tortor sit amet tempus. Sed dolor justo, porta in lorem eget, pulvinar egestas augue. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>